<!DOCTYPE html>
<!---------------------------------------------------->
<!-- View for adding new Equipment pack into system -->
<!----------------------------------------------------> 

<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <link type="text/css" th:href="@{/css/top_navbar.css}" rel="stylesheet"/>
      <title th:text="#{app.car-equipment-pack-new.title}"></title>
   </head>
   <body>
   		<div class="application-wrapper">
   			<!-- Fragment - The very top part of application (logo, design pictures) -->
   			<div class="top-part" th:include="fragments/top_part.html :: top_part">
   			</div>   
   			<div class= "middle-part">  
   				<!-- Fragment - Main menu -->
	   			<div th:replace="fragments/top_nav :: navbar"></div>
		   		<div class="content-part">
		   			<!-- Car Brand LOGO -->	
		   			<div class="logo-part" >
		   				<img th:src="'data:image/png;base64,' + ${brandLogoImg}" />		   				
		   			</div>	
		   			<div class="title-part" >		
						<h1 th:text="#{app.car-equipment-pack-new.title}"></h1>
					</div>
	   				
		   			<form action="#" th:action="@{/car-equipment-pack-save}" th:object="${carEquipmentPack}" method="POST" 
		   					enctype="multipart/form-data">
		   				<!-- Fragment - Warning board -->
		   				<div th:replace="fragments/input_warning_board.html :: input_warning_board"></div>
		   						   					
		   				<div class="grid-container-base grid-container-three-col">
		   					<label th:text="#{app.car-equipment-pack.new.model-name}"></label>
			   				<!-- Combo CarModel -->		   				
			   				<select id="carmodel" name="carmodel" th:field="*{carModel}" >		   					
							    	<option th:each="carModel : ${listCarModel}" 
							    			th:value="${carModel.id}" 
							    			th:text="${carModel.name}">
							    	</option>						    						    
							</select>
							<div></div> <!-- 3rd column -->	
							            
			            	<label th:text="#{app.car-equipment-pack.new.name}"></label>
			   				<input class="data-column" type="text" size="18"th:field="*{name}">
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('name')}" 
			   					th:errors="*{name}"></div></div>
			   				
			   				<label th:text="#{app.car-equipment-pack.new.url-name}"></label>
			   				<input class="data-column" type="text" size="18"th:field="*{urlName}">
			   			    <div><div class="view-input-warning" th:if="${#fields.hasErrors('urlName')}" 
			   					th:errors="*{urlName}"></div></div>
			   					
			   				
			   				<label th:text="#{app.car-equipment-pack.new.description-short}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{descShort}">
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('descShort')}" 
			   					th:errors="*{descShort}"></div></div>
			   				
			   				
			   				<label th:text="#{app.car-equipment-pack.new.description-long}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{descLong}">
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('descLong')}" 
			   					th:errors="*{descLong}"></div></div>
			   				
			   				
			   				<label th:text="#{app.car-equipment-pack.new.img}"></label>
							<input type="file" name="image" accept="image/*">
							<div></div> <!-- 3rd column -->			
							
							<!-- Assign engines available in equipments pack -->
							<label th:text="#{app.car-equipment-pack.new.available-engines}"></label>
			   				<!-- Here is a list of all Engines available for Car Brand 
			   					 Form this engines user choose which of them assign to particular equipment pack.  
			   					-->		
			   				
			   				<div class="engine-checkboxes">
				   				<th:block th:each="engine : ${listCarBrandEngines}">
				   				<div>
	                				<input type="checkbox" name="engine_checkbox" th:value="${engine.id}"/>
	                				<label th:text="${engine.name}"></label>
	                			</div>                 				
	               				</th:block>
			   				</div>	   				
			   				<!--   <select id="carBrandEngines" name="carBrandEngines" >		   					
							    	<option th:each="engine : ${listCarBrandEngines}" 
							    			th:value="${engine.id}" 
							    			th:text="${engine.name}">
							    	</option>						    						    
							</select> -->
							<div></div> <!-- 3rd column -->   						   				
			   			</div>
			   			<div class="button-part">   				   				   				   				
		   					<button class="confirm-button" type="submit"
		   						th:text="#{app.button.save}" ></button>
		   				</div>
		   			</form>
	      		</div>  <!-- End content-part -->     		
   		</div> <!--  End of middle part -->   		 
	   	<div class="footer-part">
	   	</div>
	  </div> <!-- End of application-wrapper -->   		
   </body>
</html>