<!DOCTYPE html>

<!------------------------------------------------>
<!-- View for adding new Car Engine into system -->
<!------------------------------------------------>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <link type="text/css" th:href="@{/css/top_navbar.css}" rel="stylesheet"/>
      <title th:text="#{app.car-engine-new.title}"></title>
   </head>
   <body>
   		<div class="application-wrapper">
   			<!-- Fragment - The very top part of application (logo, design pictures) -->
   			<div class="top-part" th:include="fragments/top_part.html :: top_part">
   			</div>
   			<div class= "middle-part">
   				<!-- Fragment - Main menu -->      
	   			<div th:replace="fragments/top_nav :: navbar"></div>
		   		<div class="content-part">	
		   			<div class="title-part" >		
						<h1 th:text="#{app.car-engine-new.title}"></h1>
					</div>
	   				
		   			<form action="#" th:action="@{/car-engine-save}" th:object="${carEngine}" method="POST" 
		   					enctype="multipart/form-data">
		   				<!-- Fragment - Warning board -->
		   				<div th:replace="fragments/input_warning_board.html :: input_warning_board"></div>
		   				<div class="grid-container-base grid-container-three-col">		   											
			   				<input class="data-column" type="hidden" size="18" th:field="${carEngine.carBrand}">		   								   											            
							
									   								   											            	
			            	<label th:text="#{app.car-engine.new.code}"></label>
			   				<input class="data-column" type="text" size="18"th:field="${carEngine.code}">
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('code')}" 
			   					th:errors="*{code}"></div></div>
			   				
			   				<label th:text="#{app.car-engine.new.power}"></label>
			   				<input class="data-column" type="text" size="18"th:field="${carEngine.power}">
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('power')}" 
			   					th:errors="*{power}"></div></div>
			   				
			   				<label th:text="#{app.car-engine.new.name}"></label>
			   				<input class="data-column" type="text" size="25" th:field="${carEngine.name}">
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('name')}" 
			   					th:errors="*{name}"></div></div>
			   				
			   				<label th:text="#{app.car-engine.new.nameMarketing}"></label>
			   				<input class="data-column" type="text" size="25" th:field="${carEngine.nameMarketing}">
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('nameMarketing')}" 
			   					th:errors="*{nameMarketing}"></div></div>
			   				
			   				<label th:text="#{app.car-engine.new.weight}"></label>
			   				<input class="data-column" type="text" size="25" th:field="${carEngine.weight}">
			   				<div></div> <!-- 3rd column -->		   					   						   				
			   			</div>   
			   			<div class="button-part">				   				   				   				
			   				<button class="confirm-button" type="submit"
			   					th:text="#{app.button.save}" ></button>
		   				</div>   
		   			</form>
				</div>  <!-- End content-part -->
   			</div> <!--  End of middle part -->
   			<div class="footer-part">
   			</div>  	
   </div> <!-- End of application-wrapper -->     		
   </body>
</html>