<!DOCTYPE html>
<!-- View for adding new Car Engine into system 

	Attribute *menuItem* is pass through MenuInterceptor
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <link type="text/css" th:href="@{/css/top_navbar.css}" rel="stylesheet"/>
      <title th:text="#{app.car-engine-new.title}"></title>
   </head>
   <body>
   		<div class="application-wrapper">
   			<div class="top-part" th:include="fragments/top_part.html :: top_part">
   			</div>
   			<div class= "middle-part">      
	   			<div th:replace="fragments/top_nav :: navbar"></div>
		   		<div class="content-part">	
		   			<div class="title-part" >		
						<h1 th:text="#{app.car-engine-new.title}"></h1>
					</div>
	   				
		   			<form action="#" th:action="@{/car-engine-save}" th:object="${carEngine}" method="POST" 
		   					enctype="multipart/form-data">
		   				<div class="grid-container-two-col">
		   					<label th:text="#{app.car-engine.new.equipment-pack-name}"></label>
			   				<!-- Combo Car Equipment pack -->		   				
			   				<select id="equipmentPack" name="equipmentPack">		   					
							    	<option th:each="equipmentPack : ${listCarEquipmentPack}" 
							    			th:value="${equipmentPack.id}" 
							    			th:text="${equipmentPack.name}">
							    	</option>						    						    
							</select>
							            
			            	<label th:text="#{app.car-engine.new.code}"></label>
			   				<input class="data-column" type="text" size="18"th:field="${carEngine.code}">
			   				
			   				<label th:text="#{app.car-engine.new.power}"></label>
			   				<input class="data-column" type="text" size="18"th:field="${carEngine.power}">
			   				
			   				<label th:text="#{app.car-engine.new.name}"></label>
			   				<input class="data-column" type="text" size="25" th:field="${carEngine.name}">
			   				
			   				<label th:text="#{app.car-engine.new.nameMarketing}"></label>
			   				<input class="data-column" type="text" size="25" th:field="${carEngine.nameMarketing}">
			   				
			   				<label th:text="#{app.car-engine.new.weight}"></label>
			   				<input class="data-column" type="text" size="25" th:field="${carEngine.weight}">		   					   						   				
			   			</div>   
			   			<div class="button-part">				   				   				   				
			   				<button class="confirm-button" type="submit"
			   					th:text="#{app.button.save}" ></button>
		   				</div>   
		   			</form>
				</div>  <!-- End content-part -->
   			</div> <!--  End of middle part -->
   			<div class="footer-part">
   			</div>  	
   </div> <!-- End of application-wrapper -->     		
   </body>
</html>