<!DOCTYPE html>
<!------------------------------------>
<!-- List of Countries - table form -->
<!------------------------------------> 

<!-- Attribute *menuItem* is pass through MenuInterceptor
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <link type="text/css" th:href="@{/css/top_navbar.css}" rel="stylesheet"/>
      <title th:text="#{app.country.list.title}"></title>
   </head>
   <body>
   <div class="application-wrapper">
	   <div class="top-part" th:include="fragments/top_part.html :: top_part">
	   </div>
	   <div class= "middle-part">   
	   	   <div th:replace="fragments/top_nav :: navbar"></div>
		   <div class="content-part">	   		   		
	   			<div class="title-part" >		
					<h1 th:text="#{app.country.list.title}"></h1>
				</div>
				<div class="table-part">			  			    	
		      		<table cellspacing="0" cellpadding="0">
		      			<tr class="row_head">	      				
	      					<th th:text="#{app.record.id}"></th>
	      					<th th:text="#{app.country.list.name}"></th>
	      					<th th:text="#{app.country.list.code}"></th>
	      					<th th:text="#{app.country.list.flag}"></th>
	      					<th th:text="#{app.update}"></th>
	      					<th th:text="#{app.delete}"></th>
		      			</tr>
		      			<th:block th:each="country : ${listCountry}" th:object="${country}">	      			
	      				<tr class="row_body">
	      					<td th:text="*{id}"></td>
	      					<td th:text="*{name}"></td>
	      					<td th:text="*{countryCode}"></td>	      									      					
		      				<td>	
		      					<img class="flag-list-img" th:object="${imgUtil}" 	   					
		   							th:src="'data:image/png;base64,' + ${imgUtil.getImgData(country.flag)}" />
		      				</td>	
		      				
		      				<!-- Update, Delete icons -->			
		      				<td class="update-column">
		      					<a th:href="@{/car-brand-update/{id}(id=*{id})}" >
		      						<img src="/img/edit-icon16.png" alt="Edit">
		      					</a>	      						
		      				</td>
		      				<td class="delete-column">
	      						<a th:href="@{/car-brand-delete/{id}(id=*{id})}" >
	      							<img src="/img/delete.png" alt="Delete">
	      						</a>      						
	      					</td>				
		      			</tr>  	
		      			</th:block>      			
		      		</table>
	      		</div>
	      		<div class="button-part">
	      			<a th:href="@{/country-new}" class="confirm-button" 
	      				th:text="#{app.button.new-record}"></a>
	      		</div>
	      	</div>  <!-- End content-part -->
   		</div> <!--  End of middle part -->
   		<div class="footer-part">
   		</div>  	
   </div> <!-- End of application-wrapper -->		
   </body>
   
</html>