<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <link type="text/css" th:href="@{/css/top_navbar.css}" rel="stylesheet"/>
      <title>Přidání nového oddělení</title>
   </head>
   <body>
   		<div class="whole-page">
   			<div class="top-part" th:include="fragments/top_part.html :: top_part"></div>   
	   		<div th:replace="fragments/top_nav :: navbar"></div>
	   		<div class="main-part">	
	   			<div class="title_part" >		
					<h1 th:text="#{app.department.new.title}"></h1>
				</div>
   			
	   			<form action="#" th:action="@{/department-save}" th:object="${department}" method="POST">
	   				<div class="grid-container-two-col">            
		            	<label for="name" th:text="#{app.department.new.name}"></label>
		   				<input class="data-column" type="text" size="18"th:field="*{name}" placeholder="">
		   				
		   				<label for="description" th:text="#{app.department.new.description}"></label>
		   				<input class="data-column" type="text" size="25" th:field="*{description}" placeholder="">		   				
		   			</div>   				   				   				   				
	   				<button class="confirm-button" type="submit"
	   					th:text="#{app.button.save}" ></button>
	   				
	   			</form>
	   		</div>	
   		</div>   		
   </body>
</html>