<!DOCTYPE html>
<!------------------------------------------------>
<!-- View for adding new Department into system -->
<!------------------------------------------------>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <th:block th:include="fragments/head-tags.html :: head_tags"></th:block>
      <title th:text="#{app.department.new.title}"></title>
   </head>
   <body>
   		<div class="application-wrapper">
   			<!-- Fragment - The very top part of application (logo, design pictures) -->
   			<div class="top-part" th:include="fragments/top_part.html :: top_part">
   			</div>  
   			<div class= "middle-part"> 
   				<!-- Strip with login user info, in future language switcher, etc... -->
   				<div class="info-strip" th:include="fragments/info-strip.html :: info-strip"></div>
   				 
   				<!-- Fragment - Main menu -->
	   			<!-- <div th:replace="fragments/top_nav :: navbar"></div> -->
		   		<div class="content-part">	
		   			<!-- View Title -->
		   			<div class="title-part" >		
						<h1 th:text="#{app.department.new.title}"></h1>
					</div>	   					   					
	   					   				
		   			<form action="#" th:object="${department}"  th:action="@{/department-save}" method="POST">
		   				<!-- Fragment - Warning board -->
		   				<div th:replace="fragments/input_warning_board.html :: input_warning_board"></div>		   					   				
	   						
		   				<div class="grid-container-base grid-container-three-col">		   					
		   					            
			            	<label for="name" th:text="#{app.department.new.name}"></label>			            				            		
			   				<input class="data-column" type="text" size="18"th:field="*{name}" placeholder="">			   				
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('name')}" 
			   					th:errors="*{name}"></div></div>
			   				
			   				<label for="description" th:text="#{app.department.new.description}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{description}" placeholder="">
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div></div>		   				
			   			</div>
			   			<div class="button-part">   				   				   				   				
		   					<button class="confirm-button" type="submit"
		   						th:text="#{app.button.save}" ></button>
		   				</div>
		   			</form>
		   		</div>	
   			</div> <!--  End of middle part -->
	   		<div class="footer-part">
   			</div>     		
   		</div> <!-- End of application-wrapper -->	   		
   </body>
</html>