<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style2.css}" rel = "stylesheet"/>
      <title>Zaměstnanci - Vzdělávací kurzy</title>
   </head>
   <body>
   <div class="whole-page">
	   <div class="top-part"></div>   	
	   <div th:replace="fragments/left_nav :: navbar"></div>
	   <div class="main-part">	
   			<div class="title_part" >		
				<h1>Zaměstnanci - Vzdělávací kurzy</h1>
			</div>
			<div class="table_part">			  			    	
	      		<table cellspacing="0" cellpadding="0">
	      			<tr class="row_head">	      				
      					<th>Jméno</th>
      					<th>Příjmení</th>
      					<th>Email</th>
      					<th>Město</th>
      					<th>Ulice</th>
      					<th>PSČ</th>
      					
      					<th>Edit</th>	
      					<th>Del</th>
	      			</tr>	      			
      				<tr class="row_body" th:each="customer : ${listCustomers}" th:object="${customer}">
      					<td th:text="*{firstName}"></td>
      					<td th:text="*{lastName}"></td>
      					<td th:text="*{email}"></td>
      					<th:block th:each="adr : *{listAddress}">
	      					<th:block th:if="${adr.addressType == 'M'}" style="display: inline-block;">
	      						<td th:text="${adr.city}"></td>
	      						<td th:text="${adr.street}"></td>
	      						<td th:text="${adr.zipCode}"></td>
	      					</th:block>	      							
	      					<th:block th:unless="${adr.addressType == 'M'}" style="display: inline-block;">
	      						<td></td>
	      						<td></td>
	      						<td></td>
	      					</th:block>
	      				</th:block>		
	      					
	      				<td style="text-align: center;">
	      					<a th:href="@{/updateForm/{id}(id=*{id})}" >
	      						<img src="/img/edit-icon16.png" alt="Edit Customer" style="height: 12px;">
	      					</a>	      						
	      				</td>
	      				<td style="text-align: center;">
      						<a th:href="@{/deleteCustomer/{idd}(idd=*{id})}" >
      							<img src="/img/delete.png" alt="Delete Customer" style="height: 12px;">
      						</a>      						
      					</td>				
	      			</tr>	      			
	      		</table>
      		</div>
      		<div class="buttons_part">
      			<a th:href="@{/newCustomerForm}" class="add_button_href">Nový zákazník</a>
      		</div>
      	</div>  <!-- End main-part -->
      	<div style="clear: both;"></div>     		
   </div>   	
   </body>
</html>