<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <link type="text/css" th:href="@{/css/top_navbar.css}" rel="stylesheet"/>
      <title th:text="#{app.employee.detail.title}"></title>
   </head>
   <body>
   		<div class="application-wrapper">
   			<div class="top-part" th:include="fragments/top_part.html :: top_part">
   			</div>   
   			<div class= "middle-part">  
		   		<div th:replace="fragments/top_nav :: navbar"></div>  <!-- Top menu -->
		   		<div class="content-part">	
		   			<div class="title-part" >		
						<h1 th:text="#{app.employee.detail.title}"></h1>
					</div>
	   			    
		   			<form action="#" th:action="@{/employee-save}" th:object="${employee}" method="POST" enctype="multipart/form-data">
		   				<div class="grid-container-five-col">
		   					<!-- Header of employee detail - big sized Employee name followed by employee photograph -->
		   					<label class="grid-col-span-4 employee-detail-name grid-center-cell" 
		   						th:text="*{firstName} + ' ' + *{lastName}"></label>		   					
		   					<img class="empployee-detail-img" th:object="${imgUtil}" 	   					
		   					th:src="'data:image/png;base64,' + ${imgUtil.getImgData(employee.employeeImg.img)}" />
		   							   					
		   					<label th:text="#{app.employee.new.degree}"></label>
			   				<input class="data-column" type="text" size="18" th:value="*{degree.getNiceValue()}">  
			   				<div></div>
			   				<div></div>
			   				<div></div>
			   				
			            	<label th:text="#{app.employee.new.first-name}"></label>
			   				<input class="data-column" type="text" size="18" th:field="*{firstName}">
			   				<div></div>
			   				<label th:text="#{app.employee.new.last-name}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{lastName}">
			   				
			   				<label th:text="#{app.employee.new.birthdate}"></label>
			   				<input class="data-column" type="text" size="18" 
			   					th:value="*{#dates.day(birthdate)} + '.'+
			   								*{#dates.month(birthdate)}+'.'+
			   								*{#dates.year(birthdate)}">
			   				<div></div>
			   				<label th:text="#{app.employee.detail.age}"></label>  
			   				<input class="data-column" type="text" size="25">		<!-- In progress ... -->
			   				
			   				<label th:text="#{app.employee.new.date-of-employement}"></label>
			   				<input class="data-column" type="text" size="18" 
			   					th:value="*{#dates.day(employeementDate)} + '.'+
			   								*{#dates.month(employeementDate)}+'.'+
			   								*{#dates.year(employeementDate)}">
			   				<div></div>
			   				<label th:text="#{app.employee.detail.years-in-company}"></label>  
			   				<input class="data-column" type="text" size="25">		<!-- In progress ... -->
			   				
			   				<label th:text="#{app.employee.new.department}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{department.name}">		   				
							<div></div>
							<label th:text="#{app.employee.new.country}"></label>
							<input class="data-column" type="text" size="25" >  <!-- In progress ... -->								   				
							
							<label th:text="#{app.employee.new.work-position}"></label>
							<input class="data-column" type="text" size="25" th:field="*{workPosition.name}">
							<div></div>
							<label th:text="#{app.employee.new.education}"></label>
							<input class="data-column" type="text" size="25" th:field="*{education.name}">																		
							
							<label th:text="#{app.employee.new.email}"></label>
			   				<input class="data-column" type="text" size="18"th:field="*{email}">
			   				<div></div>
			   				<label th:text="#{app.employee.new.mobile-phone}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{mobilePhone}">
							
							
			   			</div>   				   				   				   					   				
		   			</form>
		   		</div> <!-- End of content-part -->	
   			</div> <!--  End of middle part -->
   			<div class="footer-part">
   			</div>  		
   </div> <!-- End of application-wrapper -->    		
   </body>
</html>