<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <link type="text/css" th:href="@{/css/top_navbar.css}" rel="stylesheet"/>
      <title th:text="#{app.employee.new.title}"></title>
   </head>
   <body>
   		<div class="application-wrapper">
   			<div class="top-part" th:include="fragments/top_part.html :: top_part">
   			</div> 
   			<div class= "middle-part">   
		   		<div th:replace="fragments/top_nav :: navbar"></div>  <!-- Top Menu -->
		   		<div class="content-part">	
		   			<div class="title_part" >		
						<h1 th:text="#{app.employee.new.title}"></h1>
					</div>
	   			    
		   			<form action="#" th:action="@{/employee-save}" th:object="${employee}" method="POST" 
		   					enctype="multipart/form-data">
		   				<div class="grid-container-five-col">            
			            	<label th:text="#{app.employee.new.first-name}"></label>
			   				<input class="data-column" type="text" size="18"th:field="*{firstName}">
			   				<div></div>
			   				<label th:text="#{app.employee.new.last-name}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{lastName}">
			   				
			   				<label th:text="#{app.employee.new.department}"></label>
			   				<!-- Combo for departments -->		   				
			   				<select id="dpt" name="department" th:field="*{department}">		   					
							    	<option th:each="department : ${listDepartment}" 
							    			th:value="${department.id}" 
							    			th:text="${department.name}">
							    	</option>						    						    
							</select>
							<div></div>
							<label th:text="#{app.employee.new.country}"></label>
							<!-- Combo for Countries -->								   				
			   				<select id="country" name="country">		   					
							    	<option th:each="country : ${listCountry}" 
							    			th:value="${country.id}" 
							    			th:text="${country.name}">
							    	</option>						    						    
							</select>
							
							<label th:text="#{app.employee.new.work-position}"></label>
							<!-- Combo for Work Position -->		   				
			   				<select id="wp" name="wp" th:field="*{workPosition}">		   					
							    	<option th:each="wp : ${listWorkPosition}" 
							    			th:value="${wp.id}" 
							    			th:text="${wp.name}">
							    	</option>						    						    
							</select>	
							<div></div>
							<label th:text="#{app.employee.new.education}"></label>
							<!-- Combo for Work Position -->		   				
			   				<select id="education" name="education" th:field="*{education}">		   					
							    	<option th:each="education : ${listEducation}" 
							    			th:value="${education.id}" 
							    			th:text="${education.name}">
							    	</option>						    						    
							</select>
							
							<label th:text="#{app.employee.new.employee-img}"></label>
							<input type="file" name="image" accept="image/*">
							<div></div>
							<div></div>
							<div></div>
							
							<label th:text="#{app.employee.new.email}"></label>
			   				<input class="data-column" type="text" size="18"th:field="*{email}">
			   				<div></div>
			   				<label th:text="#{app.employee.new.mobile-phone}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{mobilePhone}">
							
							
			   			</div>   
			   			<div class="button-part">				   				   				   				
			   				<button class="confirm-button" type="submit"
			   					th:text="#{app.button.save}" ></button>
		   				</div>
		   				
		   			</form>
		   		</div>  <!-- End of content-part -->	
   		</div> <!--  End of middle part -->
   		<div class="footer-part">
   		</div>  		
   </div> <!-- End of application-wrapper -->   		
   </body>
</html>