<!DOCTYPE html>
<!----------------------->
<!-- View - LOGIN PAGE -->
<!----------------------->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <th:block th:include="fragments/head-tags.html :: head_tags"></th:block>
      <title th:text="#{app.login.title}"></title>
   </head>
   <body>
   		<div class="application-wrapper">
   			<!-- Fragment - The very top part of application (logo, design pictures) -->
   			<div class="top-part" th:include="fragments/top_part.html :: top_part">
   			</div>   
   			<div class= "middle-part"> 
		   		<div class="content-part">
		   			<!-- View Title -->	
		   			<div class="title-part" >		
						<h1 th:text="#{app.login.title}"></h1>
					</div>
					
					<!-- Login error board -->
	   				<div th:if="${param.error}">
    					<!-- Fragment - Warning board -->
		   				<div th:replace="fragments/login_warning_board.html :: login_warning_board"></div>
					</div>
					
		   			<form action="#" th:action="@{/mirosimo-login}" method="POST" >		   				
		   					
		   				<div class="grid-container-base grid-container-two-col add-new-part">            
			            	<label th:text="#{app.login.name}"></label>
			   				<input class="text-input-box" type="text" id="username" name="usname" size="18" >
			   					
			   				<label th:text="#{app.login.password}"></label>
			   				<input class="text-input-box" type="text" id="password" name="passwd" size="18" >		   							   						   						   				
			   			</div> 
			   			<div class="button-part">  				   				   				   				
			   				<button class="confirm-button" type="submit"
			   					th:text="#{app.login.button}" ></button>
			   			</div>
		   				
		   			</form>
		   		</div>	<!-- End content-part -->
   		</div> <!--  End of middle part -->
   		<div class="footer-part">
   		</div>  	
   </div> <!-- End of application-wrapper -->	   		
   </body>
</html>