<!DOCTYPE html>

<!------------------------------  -->
<!-- View for adding new Employee -->
<!------------------------------  -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <link type="text/css" th:href="@{/css/top_navbar.css}" rel="stylesheet"/>
      <title th:text="#{app.employee.new.title}"></title>
   </head>
   <body>
   		<div class="application-wrapper">
   			<div class="top-part" th:include="fragments/top_part.html :: top_part">
   			</div> 
   			<div class= "middle-part">   
		   		<div th:replace="fragments/top_nav :: navbar"></div>  <!-- Top Menu -->
		   		<div class="content-part">	
		   			<div class="title-part" >		
						<h1 th:text="#{app.employee.new.title}"></h1>
					</div>
	   			    
		   			<form action="#" th:action="@{/employee-save}" th:object="${employee}" method="POST" 
		   					enctype="multipart/form-data">
		   				<div class="grid-container-five-col employee-new">        
			   				<!-- Degree row -->			   				
			   				<label th:text="#{app.employee.new.degree}"></label> <!-- Employee degree - ing, bc,... -->
			   				<select name="degreeCmb">
			   					<option value="0">-- Zvolte titul --</option>
     							<option th:each="degreeValue : ${T(com.mirosimo.car_showroom.model.Employee.Degree).values()}" 
          							th:value="${degreeValue}" th:text="${degreeValue.getNiceValue()}"></option>
 							</select>
 							<div></div>  <!-- divide column -->
 							<div></div>
 							<div></div>

		   					<!-- FirstName, LastName row -->    
			            	<label th:text="#{app.employee.new.first-name}"></label>
			   				<input class="data-column" type="text" size="18"th:field="*{firstName}">
			   				<div></div>	<!-- divide column -->
			   				<label th:text="#{app.employee.new.last-name}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{lastName}">
			   				

			   				
			   				<!-- Birthdate, Employement date row -->
			   				<label th:text="#{app.employee.new.birthdate}"></label>
			   				<input type="date" name="birthdate" th:field="*{birthDate}" />
			   				<div></div>  <!-- divide column -->
			   				<label th:text="#{app.employee.new.date-of-employement}"></label>
			   				<input type="date" name="employeementDate" th:field="*{employeementDate}" />
			   				
			   				<!-- Department, Work Position row -->
			   				<label th:text="#{app.employee.new.department}"></label>
			   				<!-- Combo for departments -->		   				
			   				<select id="dpt" name="department" th:field="*{department}">
			   						<option value="0">-- Zvolte oddělení --</option>		   					
							    	<option th:each="department : ${listDepartment}" 
							    			th:value="${department.id}" 
							    			th:text="${department.name}">
							    	</option>						    						    
							</select>
							<div></div>  <!-- divide column -->
							<label th:text="#{app.employee.new.work-position}"></label>
							<!-- Combo Work Position -->		   				
			   				<select id="wp" name="wp" th:field="*{workPosition}">
			   						<option value="0">-- Zvolte pracovní pozici --</option>		   					
							    	<option th:each="wp : ${listWorkPosition}" 
							    			th:value="${wp.id}" 
							    			th:text="${wp.name}">
							    	</option>						    						    
							</select>
							
							<!-- Education, img row-->															
							<label th:text="#{app.employee.new.education}"></label>
							<!-- Combo Education -->		   				
			   				<select id="education" name="education" th:field="*{education}">
			   						<option value="0">-- Zvolte vzdělání --</option>		   					
							    	<option th:each="education : ${listEducation}" 
							    			th:value="${education.id}" 
							    			th:text="${education.name}">
							    	</option>						    						    
							</select>
							<div></div>		<!-- divide column -->
							<!-- Insert employee img row -->
							<label th:text="#{app.employee.new.employee-img}"></label>
							<input type="file" name="image" accept="image/*">

							
							<!-- Email, Mobile Phone row -->
							<label th:text="#{app.employee.new.email}"></label>
			   				<input class="data-column" type="text" size="18"th:field="*{email}">
			   				<div></div>
			   				<label th:text="#{app.employee.new.mobile-phone}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{mobilePhone}">
			   				
				   				<!-- 
				   					Address Area 
				   				-->			   				
			   					<div></div>
								<div></div>
								<div></div>
								<!-- separator - creates design line with text inside -------- TEXT ------ -->
			   					<div class="separator grid-col-span-2">Adresa</div>
			   					
				   				<!-- Street name -->
				   				<div></div>
								<div></div>							
								<div></div>    <!-- divide column -->
								<label th:text="#{app.address.new.street}"></label>
								<input class="data-column" type="text" size="18"th:field="${address.street}">
								
								<!-- Street number -->
								<div></div>
								<div></div>							
								<div></div>    <!-- divide column -->
								<label th:text="#{app.address.new.street-number}"></label>
								<input class="data-column" type="text" size="18"th:field="${address.streetNumber}">
								
								<!-- City -->
								<div></div>
								<div></div>							
								<div></div>    <!-- divide column -->
								<label th:text="#{app.address.new.city}"></label>
								<input class="data-column" type="text" size="18"th:field="${address.city}">
								
								<!-- Zip Code -->
								<div></div>
								<div></div>							
								<div></div>    <!-- divide column -->
								<label th:text="#{app.address.new.zip-code}"></label>
								<input class="data-column" type="text" size="18" th:field="${address.zipCode}">
								
								<!-- Country -->
								<div></div>
								<div></div>							
								<div></div>    <!-- divide column -->
								<label th:text="#{app.address.new.country}"></label>
								<!-- Combo Country -->		   				
				   				<select id="countryCmb" name="countryCmb" >
				   						<option value="0">-- Zvolte stát --</option>		   					
								    	<option th:each="country : ${listCountry}" 
								    			th:value="${country.id}" 
								    			th:text="${country.name}">
								    	</option>						    						    
								</select>
																												
			   			</div>   
			   			<div class="button-part">				   				   				   				
			   				<button class="confirm-button" type="submit"
			   					th:text="#{app.button.save}" ></button>
		   				</div>
		   				
		   			</form>
		   		</div>  <!-- End of content-part -->	
   		</div> <!--  End of middle part -->
   		<div class="footer-part">
   		</div>  		
   </div> <!-- End of application-wrapper -->   		
   </body>
</html>