<!DOCTYPE html>
<!------------------------------------------------>
<!-- View for adding new User into system -->
<!------------------------------------------------>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link th:href = "@{/css/app_style.css}" rel = "stylesheet"/>
      <link type="text/css" th:href="@{/css/top_navbar.css}" rel="stylesheet"/>
      <title th:text="#{app.user.new.title}"></title>
   </head>
   <body>
   		<div class="application-wrapper">
   			<!-- Fragment - The very top part of application (logo, design pictures) -->
   			<div class="top-part" th:include="fragments/top_part.html :: top_part">
   			</div>  
   			<div class= "middle-part">  
   				<!-- Fragment - Main menu -->
	   			<!-- <div th:replace="fragments/top_nav :: navbar"></div> -->
		   		<div class="content-part">	
		   			<div class="title-part" >		
						<h1 th:text="#{app.user.new.title}"></h1>
					</div>	   					   					
	   					   				
		   			<form action="#" th:action="@{/save-user}" th:object="${appUser}" method="POST">
		   				<!-- Fragment - Warning board -->
		   				<div th:replace="fragments/input_warning_board.html :: input_warning_board"></div>		   					   				
	   						
		   				<div class="grid-container-base grid-container-three-col">		   					
		   					            
			            	<label th:text="#{app.user.new.name}"></label>			            				            		
			   				<input class="data-column" type="text" size="18"th:field="*{username}" placeholder="">			   				
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('username')}" 
			   					th:errors="*{name}"></div></div>
			   				
			   				<label th:text="#{app.user.new.password}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{password}" placeholder="">
			   				<div></div> <!-- 3rd column -->
			   				
			   				<label th:text="#{app.user.new.email}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{email}" placeholder="">
			   				<div><div class="view-input-warning" th:if="${#fields.hasErrors('email')}" 
			   					th:errors="*{email}"></div></div>
			   				
			   				<!--  <label th:text="#{app.user.new.active}"></label>
			   				<input class="data-column" type="text" size="25" th:field="*{active}" placeholder="">
			   				<div></div> --> <!-- 3rd column -->			   				
			   			</div>
			   			<div class="button-part">   				   				   				   				
		   					<button class="confirm-button" type="submit"
		   						th:text="#{app.button.save}" ></button>
		   				</div>
		   			</form>
		   		</div>	
   			</div> <!--  End of middle part -->
	   		<div class="footer-part">
   			</div>     		
   		</div> <!-- End of application-wrapper -->	   		
   </body>
</html>